<div class="container">
  <h1>Add a new dose !</h1>

  <%= simple_form_for [@cocktail, @dose] do |d| %>
    <%= d.input :description %>
    <%= d.association :ingredient, prompt: "Choose an ingredient"%>
    <%= d.submit %>
  <% end %>
  <br>
  <%= link_to "⬅️", root_path %>
</div>
